*,
*::before,
*::after {
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: none;
}
html {
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  color: #151F54;
  height: 100vh;
  background: #151F54 url(../img/Bg.webp) no-repeat center;
  background-size: 100% 100%;
  overflow-x: hidden;
}
body > div {
  height: 100%;
}
body.modal_open {
  height: 100vh;
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
a,
input {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
a {
  box-sizing: content-box;
  color: #060606;
}
a:hover,
a:active {
  color: #ff8219;
}
input:focus {
  outline: none;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.row {
  max-width: 1028px;
  margin: 0 auto;
  padding: 0;
}
.row > * {
  padding: 0;
  width: auto;
  flex-shrink: 1;
}
.container {
  max-width: none;
  padding: 0;
}
.container > div {
  margin-left: auto;
  margin-right: auto;
}
.product-item,
.product_item_container {
  height: 100% !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.o-fav-btn.is-fav .card__control_icon--favorites {
  background-image: url("../img/favorites_orange_fill.svg");
}
.o-fav-btn.is-fav .product_page__control_icon--favorites {
  background-image: url("../img/favorites_orange_fill.svg");
}
.o-fav-btn.is-fav.cart__favorite::before {
  background-image: url("../img/favorites_orange_fill.svg");
}
.swiper-container-horizontal .swiper-slide:last-child {
  margin-right: 100px;
}
.lazy_container {
  margin-top: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.lazy_container:not(:last-child) {
  margin-bottom: 25px;
}
.lazy_button {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: max-content;
  padding: 13px 24px;
  background: #ff8219;
  border-radius: 18px;
}
.lazy_button:hover {
  color: #FFFFFF;
  box-shadow: -5px 5px 20px rgba(255, 130, 25, 0.4);
}
.lazy_button:active {
  color: #FFFFFF;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.02)), #ff8219;
  box-shadow: none;
}
@media (max-width: 1200px) {
  .row {
    max-width: 830px;
  }
}
@media (max-width: 576px) {
  .row {
    padding: 0 10px;
  }
  .lazy_button {
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    padding: 15px 55px;
    background: #ff8219;
    border-radius: 20px;
  }
  .privacy_policy h2 {
    font-size: 18px;
  }
  .privacy_policy h3,
  .privacy_policy h4 {
    font-size: 16px;
  }
}
.leaders {
  display: grid;
  place-content: center;
}
.leaders__item {
  width: calc(100vw * (596 / 1920));
  padding: calc(100vw * (15 / 1920)) calc(100vw * (27 / 1920));
  margin-bottom: calc(100vw * (47 / 1920));
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leaders__item:last-child {
  margin-bottom: 0;
}
.leaders__name {
  display: flex;
  flex-direction: column;
}
.leaders__lname {
  font-size: calc(100vw * (52 / 1920));
  line-height: calc(100vw * (61 / 1920));
}
.leaders__fname {
  font-size: calc(100vw * (40 / 1920));
  line-height: calc(100vw * (47 / 1920));
}
.leaders__scores {
  font-size: calc(100vw * (64 / 1920));
  line-height: calc(100vw * (75 / 1920));
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.participants {
  display: grid;
  place-content: center;
}
.participants__list {
  max-height: calc(100vw * (1000 / 1920));
  overflow: hidden;
}
.participants__item {
  width: calc(100vw * (596 / 1920));
  padding: calc(100vw * (13 / 1920)) calc(100vw * (19 / 1920));
  margin-block: calc(100vw * (12 / 1920));
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(0);
}
.participants__name {
  font-size: calc(100vw * (40 / 1920));
  line-height: calc(100vw * (47 / 1920));
}
.participants__scores {
  font-size: calc(100vw * (40 / 1920));
  line-height: calc(100vw * (47 / 1920));
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.marquee-wrapper {
  overflow: hidden;
  position: relative;
}
